<!-- build on base.html -->
{% extends "base.html" %}

{% block content %}
    <h1>Welcome! Manager</h1>

<h2>
This ​app​ is developed for the ​manager to monitor and control the worker pool.
<br><br>
To use, you can directly click on their function name in their descriptions or you can click them in the navigation bar.
</h2>

    <br>
    You can press <a href="{{ url_for('list_workers') }}">Worker List</a> to monitor and control current working workers
{#    <br>#}
{#    You can press  <a href="{{ url_for('autoscale') }}">Stopping</a> to change tuning policy#}
    <br>
    <br>
    Or you can press  <a href="{{ url_for('elb_dns') }}">ELB DNS</a> to ......
    <br>
    <br>
    You can press  <a href="{{ url_for('clear') }}">Delete</a> to delete application data stored on the database
as well as all images stored on S3.
    <br>
    <br>
    You can press  <a href="{{ url_for('shutdown') }}">Stopping</a> to terminates all the workers and then stops the
manager itself.


    </div>



{% endblock %}