{% extends "base.html" %}
{% block content %}

    <form action="{{url_for('grow_by_one')}}" method="post">
        <input type="submit" value="New one">
    </form>

    <form action="{{url_for('terminate_one_worker')}}" method="post">
        <input type="submit" value="Delete one">
    </form>

    <table />
    <thead>
       <th>ID</th>
       <th>PORT</th>
       <th>STATE</th>
    </thead> 
    {% for instance in instances %}
        <tr>
            <td>{{ instance.id }}</td>
            <td>{{ instance.port }}</td>
            <td><font color="green">{{ instance.state }}</font></td>
            <td>
                <form action="{{url_for('worker_view',instance_id=instance.id)}}" method='get'>
                    <input type='submit' value='Details' />
                </form>
            </td>
         
            <td>
                <form action="{{url_for('worker_terminate',instance_id=instance.id)}}" method='post' onsubmit='return confirm("Are you sure?")'>
                    <input type='submit' value='Destroy' />
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}